# Build outputs
circuits/build/
circuits/node_modules
contracts/out/
contracts/cache/
prover/target/
backups
# Secrets
.env
*.key
*_secret*

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Large files
*.ptau
*.zkey

# Keep structure
!.gitkeep

# Keep necessary files
deployment_addresses.txt
package-lock.json
package.json